<!DOCTYPE html>
<html>

<head>
    <title>Centuries/Half-Centuries</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!-- Add Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/lineplot">Line Plot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/barchart">Bar Plot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('scatter') }}">Scatter Plot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('boundariesperyear') }}">Boundaries/year</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('FourNSix') }}">4s and 6s</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('strikerate') }}">Strike Rate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('avgrunsperyear') }}">Average Runs/Year</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dotpercentage') }}">Dot Percentage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('centuries') }}">Centuries/Half-Centuries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('heatmap') }}">Correlation Matrix</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('piechart') }}">Pie Chart</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Add container for content -->
    <div class="container mt-3">
        <h1 style="text-align:center;">Centuries/Half-Centuries</h1>
        <div style="display:flex; justify-content:center;">
            <img src="{{ url_for('static', filename='centuries.png') }}" alt="Centuries/Half-Centuries">
        </div>
    </div>
    <!-- Add Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>